@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  scrollbar-width: none;
}



.Main {
    display: flex;
    height: 100vh;
    padding: 20px;
}

.Left {
    align-items: center;
    // width: 50%;
    margin: auto;
}



.Right {
    align-items: center;
    width: 50%;
    overflow-y: auto;
    scrollbar-color: #6969dd #e0e0e0;
}

.nav-content {
    display: flex;
    flex-direction: column;
}

.socials-links {
    display: flex;
    flex-direction: row;
}

.About {
    padding: 20px;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    margin: 150px 50px;
}

.About p {
    margin: 20px 0;
}

.About .link-icon {
    font-size: 10px;
}

.Work {
    margin: 100px 50px;
}

.work-card {
    background-color: gray;
    display: flex;
    margin: 50px 0;
}

.card-date {
    margin: 10px;
}