@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 240px;
}

.content-div2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 240px;
  cursor: pointer;
}

.hidden li:hover {
  transition: 0.4s;
  font-weight: 600;
  color: rgb(241, 36, 173);
}
.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(216, 55, 154, 0.8),
    hsla(234, 59%, 34%, 0.8)
  )!important;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
}

.App {
  min-height: 100vh; /* Ensures the .App div takes the full viewport height */
  background-color: #0a192f; /* Set your desired background color */
}
.p_solvingLinks {
  margin: 25px 0;
}

.p_solivingLink {
  display: flex;
  margin: 10px;

  p {
    color: #db2777e0;
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
    margin: 0 10px;
  }

  // a {
  //   width: 10%;
  //   cursor:default;
  // }

  img {
    width: 40px;
    height: 40px;
    // cursor: pointer;
  }
}

// .projects {
//   width: 90%;
// }
.projectLinkIcon {
  border-radius: 5px;
    background-color: #133a73ba;
    color: #db2777e0;
    padding: 5px;
}